<p class="fs-2 fw-semibold text-center">Add a new pet</p>
<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="inserting">
      <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && sendRequest()" novalidate class="feedback-form">
        <div class="form-group division">
          <label for="name" class="mb-2">Name</label>
          <input type="text"
                 id="name"
                 class="form-control"
                 name="name"
                 placeholder="Name"
                 [(ngModel)]="model.name"
                 #name="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && name.invalid}"
                 required/>
          <div *ngIf="f.submitted && name.invalid" class="invalid-input">
            <div *ngIf="name.errors?.['required']" class="fst-italic text-danger invalid-input">Field is required
            </div>
          </div>
        </div>
        <div class="form-group division">
          <label for="code"  class="mt-2 mb-2">Code</label>
          <input type="number"
                 id="code"
                 class="form-control"
                 name="code"
                 placeholder="Code"
                 [(ngModel)]="model.code"
                 #code="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && code.invalid}"
                 required min=100000 max=999999 />
          <div *ngIf="f.submitted && code.invalid" class="invalid-input">
            <div *ngIf="code.errors?.['required']" class="fst-italic text-danger invalid-input">Field is required
            </div>
            <div *ngIf="code.errors?.['min'] || code.errors?.['max']" class="fst-italic text-danger invalid-input">Code has to be 6 characters long
            </div>
          </div>
        </div>

        <div class="form-group division">
          <label class="mt-2 mb-2">Type</label>
          <div>
            <select class="form-select" aria-label="Floating label select example" (change)="onTypeChange($event)">
              <option selected disabled value="">Choose...</option>
              <option *ngFor="let type of types" >{{type.name}}</option>
            </select>
          </div>
        </div>

          <div class="form-group division">
            <label class="mt-2 mb-2">Fur color</label>
            <div>
              <select class="form-select"  aria-label="Floating label select example" (change)="onFurChange($event)">
                <option selected disabled value="">Choose...</option>
                <option *ngFor="let furColor of furColors"  >{{ furColor.name }}</option>
              </select>
            </div>
          </div>


        <div class="form-group division">
          <label class="mt-2 mb-2">Country of origin</label>
          <div>
            <select class="form-select"  aria-label="Floating label select example" (change)="onCountryChange($event)">
              <option selected disabled value="">Choose...</option>
              <option *ngFor="let country of countries" >{{ country.name }}</option>
            </select>
          </div>
        </div>


        <button type="submit" class="btn btn-success pull-right button mt-3" >
          <span>Add pet</span>
        </button>
      </form>
    </div>
  </div>
</div>
