<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" style="margin-left: 10px" id="navbarColor01">
    <div>
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/admin">All pets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/admin/users">All users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/admin/add">Add selections</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/" (click)="onLogOut()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<p class="fs-2 fw-semibold text-center">Users</p>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Username</th>
    <th scope="col">Password</th>
    <th scope="col">Active pets</th>
    <th scope="col">Past pets</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <th scope="row">{{ user.seqNr }}</th>
    <td>{{ user.name }}</td>
    <td>{{ user.password }}</td>
    <td>{{ user.petsActive }}</td>
    <td>{{ user.petsDeactive }}</td>
  </tr>
  </tbody>
</table>
