.invalid-input {
font-size: small;
}

.button {
  width: 100%;
}

.division {
  margin-top: 2px;
  margin-bottom: 2px;
}

.inserting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.capital {
  text-transform: capitalize
}
